@media screen and (max-width: 425px) {
    /* .body{
        
    } */
    .header{
        flex-direction: column;
    }
    .header .menu-area ul{
    flex-direction: column;
 
    }
    .header .menu-area ul li ul{
        display: flex;
        flex-direction: row;
    }
    .header .menu-area ul .abo, .header .menu-area ul .dev{
        padding-top:0px;
        }
    .banner .t-ban{
        flex-direction: column;
        align-items: center;
        flex: 1;
    }
  }